/* TIPOGRAFÍA NUNITO DE GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700&display=swap");

/* VARIABLES */
:root {
	--primary-color: #5b6;
	--button-padding: 10px 15px;
}

/* FORMATEO */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	text-decoration: none;
	list-style-type: none;

	font-family: "Nunito", sans-serif;
}

/* GENERALES
   ================================================================================================================ */
.container {
	padding: 0 80px;
}

section {
	padding: 80px 0;
}

/* HEADER
   ================================================================================================================ */
.navContainer,
.header-ul {
	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: var(--primary-color);

	padding: 10px 0;
}

.header-ul__li {
	padding: 0 20px;
}

.logo {
	font-size: 2rem;
	font-weight: 700;
	padding-left: 20px;
}

.navContainer a {
	color: #fff;
}

.nav-ul {
	display: flex;
	justify-content: space-around;

	padding: 10px 0;

	font-weight: 300;
}

.nav-ul a {
	color: #555;
}

.imgContainer {
	height: 300px;
	overflow: hidden;
}

.wallpaper {
	height: 100%;
	background-image: url(../images/nuts-wallpaper.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/* CARDS DE LOS PRODUCTOS
   ================================================================================================================ */
.products {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	gap: 100px;
}

.product {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	text-align: center;
	width: 300px;
	height: 350px;

	transition: box-shadow 0.1s;

	cursor: pointer;
}

.product:hover {
	box-shadow: 0 0 15px 0 #aaa;
}

.product__img {
	margin-top: 20px;
	width: 80%;
	object-fit: cover;
}

.product__price {
	color: var(--primary-color);
}

.add-button {
	color: #fff;
	font-size: 15px;

	background-color: var(--primary-color);

	border: none;
	padding: var(--button-padding);
	margin: 20px 0;

	cursor: pointer;

	transition: filter 0.1s;
}

.add-button:hover {
	filter: brightness(1.2);
}

.add-button:active {
	filter: brightness(1.5);
}

/* CARRITO
   ================================================================================================================ */

#cart-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 50px 0;
}

.total-price {
	padding-top: 40px;
}
