/* TIPOGRAFÍA NUNITO DE GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700&display=swap");

/* VARIABLES */
:root {
	--primary-color: #5b6;
	--button-padding: 10px 15px;
}

/* FORMATEO */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	text-decoration: none;
	list-style-type: none;

	font-family: "Nunito", sans-serif;
}

/* GENERALES
   ================================================================================================================ */
.container {
	padding: 0 80px;
}

section {
	padding: 80px 0;
}

/* HEADER
   ================================================================================================================ */
.header {
	z-index: 50;
	position: fixed;
	width: 100%;
}

.nav-ul {
	background: #fff;
}

.navContainer,
.header-ul {
	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: var(--primary-color);

	padding: 10px 0;
}

.header-ul__li {
	padding: 0 20px;
}

.logo {
	font-size: 2rem;
	font-weight: 700;
	padding-left: 20px;
}

.search__bar {
	color: #000;
	background: var(--primary-color);
	border: none;
	border-bottom: 2px solid #fff;
	padding: 5px;
	width: 400px;

	transition: background 0.3s, box-shadow 0.3s;
}

.search__bar::placeholder {
	color: #fff;
}

.search__bar:focus {
	outline: none;
	background: #fff;
	box-shadow: 5px 5px 10px 0 #0084;
}

.search__button {
	background: none;
	border: none;
	color: #fff;
	font-size: 1em;
	cursor: pointer;
	margin-left: 10px;
}

.navContainer a {
	color: #fff;
}

.nav-ul {
	display: flex;
	justify-content: space-around;

	padding: 10px 0;

	font-weight: 300;
}

.nav-ul a {
	color: #555;
}

.nav-ul__li a:hover {
	color: var(--primary-color);
}

.imgContainer {
	height: 200px;
	overflow: hidden;
}

.wallpaper {
	height: 100%;
	background-image: url(../images/nuts-wallpaper.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
}
/* VENTANA MODAL DEL CARRITO
   ================================================================================================================ */
.modal-container {
	display: flex;
	background-color: rgba(0, 0, 0, 0.3);
	position: fixed;

	align-items: center;
	justify-content: center;

	width: 100vw;
	height: 100vh;

	z-index: 100;

	opacity: 0;
	pointer-events: none;
}

.modal {
	background-color: #fff;
	width: 800px;
	box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
	padding: 30px;
	border-radius: 5px;
}

.modal__title {
	text-align: center;
	font-size: 2em;
	margin-bottom: 20px;
}

.button-container {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

#close {
	font-size: 30px;
	width: 40px;
	height: 40px;
	background-color: #fff;
	border: none;
	cursor: pointer;
	transition: color 0.2s;
}

#close:hover {
	color: #d56;
}

.show {
	opacity: 1;
	pointer-events: all;
	transition: opacity 0.2s;
}

/* CARDS DE LOS PRODUCTOS
   ================================================================================================================ */
.category {
	font-size: 2rem;
	width: 100%;
	text-align: center;
	margin: 30px 0;
	margin-top: 60px;
}

.products-section {
	margin-bottom: 80px;
}

.products {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
	gap: 80px;
}

.product {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	text-align: center;
	width: 300px;
	height: 380px;

	transition: box-shadow 0.2s;
	border-radius: 5px;

	cursor: pointer;
}

.product:hover {
	box-shadow: 0 0 15px 0 #aaa;
}

.product__img {
	margin-top: 20px;
	width: 200px;
	object-fit: cover;
}

.product__price {
	margin-top: 10px;
	color: var(--primary-color);
}

.add-button {
	color: #fff;
	font-size: 15px;

	background-color: var(--primary-color);

	border: none;
	border-radius: 5px;
	padding: var(--button-padding);
	margin: 20px 0;

	cursor: pointer;

	transition: filter 0.1s;
}

.add-button:hover {
	filter: brightness(1.2);
}

.add-button:active {
	filter: brightness(1.5);
}

.filter {
	display: none;
}

/* FOOTER
   ================================================================================================================ */
.footer {
	color: #fff;
	width: 100%;
	background-image: url(../images/nuts-wallpaper.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: bottom;

	padding: 80px;
}

.footer-li {
	font-size: 20px;
	margin: 30px 0;
}

.footer-li a {
	color: #fff;
}

/* CARRITO
   ================================================================================================================ */

.total-price {
	color: var(--primary-color);
	padding-top: 40px;
}

.product-in-cart {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
	border-bottom: 1px solid var(--primary-color);
	color: #666;
}

.product-in-cart p {
	width: 150px;
}

.delete-btn {
	border: none;
	background: none;
	color: #d56;
	cursor: pointer;
}

/* MEDIA QUERIES
   ================================================================================================================ */

/* 1600px */
@media screen and (max-width: 1600px) {
	.products {
		grid-template-columns: repeat(3, 1fr);
	}
}

/* 1200px */
@media screen and (max-width: 1200px) {
	.nav-ul {
		flex-wrap: wrap;
	}
	.nav-ul__li {
		margin: 10px 20px;
	}
	.products {
		grid-template-columns: repeat(2, 1fr);
	}
}

/* 850px */
@media screen and (max-width: 850px) {
	.container {
		padding: 0 20px;
	}
	.products {
		grid-template-columns: 1fr;
	}
}

/* 320px */
@media screen and (max-width: 320px) {
	.container {
		padding: 0;
	}
}
